@{
    ViewData["Title"] = "My Trip Log";
}

<h1>@ViewData["Title"]</h1>
<a href="@Url.Action("Add", "Trip")">Add Trip</a>

<table>
    <tr>
        <th>Destination</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Accommodations</th>
        <th>Things To Do</th>
    </tr>
    <!-- Loop through trips here -->
</table>
