body {
    font-family: Arial, sans-serif;
}

.banner {
    background-color: #444;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #444;
    margin-bottom: 20px;
}

form {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
    form .form-group {
        margin-bottom: 15px;
    }

    form label {
        display: block;
        font-weight: bold;
        margin-top: 10px;
    }

    form input[type="text"],
    form input[type="date"],
    form input[type="email"] {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

.action-buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 15px; 
}

    .action-buttons .button {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        background-color: #444; 
        color: #fff;
        cursor: pointer;
        text-align: center;
    }

/* Common button styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

    /* Primary button styling */
    .btn-primary {
        background-color: #007bff;
        color: white;
        border: 1px solid #007bff;
        margin-top: 20px;
        margin-right: 10px;
    }

        .btn-blue:hover {
            background-color: #0056b3; 
            border-color: #0056b3;
        }

     /* Secondary button styling */
    .btn-secondary {
        background-color: #6c757d;
        color: white;
        border: 1px solid #6c757d;
        margin-top: 20px;
        margin-right: 10px;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #5a6268;
        }


.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    vertical-align: top;
}

.added-trip-message {
    background-color: lightgrey; 
    color: darkgrey; 
    text-align: center; 
    padding: 10px; 
    margin-top: 10px; 
    border-radius: 5px; 
    font-weight: bold; 
}
