@model TripsLogApp.Models.Trip

@{
    ViewData["Title"] = "Add2";
}



<div class="form-group">
    <label asp-for="AccommodationPhone" class="control-label"></label>
    <input asp-for="AccommodationPhone" class="form-control" />
    <span asp-validation-for="AccommodationPhone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AccommodationEmail" class="control-label"></label>
    <input asp-for="AccommodationEmail" class="form-control" />
    <span asp-validation-for="AccommodationEmail" class="text-danger"></span>
</div>