@model TripsLogApp.Models.Trip

@{
    ViewData["Title"] = "Add Accommodation Info";
}

<h2>Add Info for Accommodation</h2>
<form asp-action="FormPage2" method="post">
    <label>Phone Number</label>
    <input type="text" asp-for="AccommodationPhone" />
    <span asp-validation-for="AccommodationPhone" class="text-danger"></span>

    <label>Email Address</label>
    <input type="email" asp-for="AccommodationEmail" />
    <span asp-validation-for="AccommodationEmail" class="text-danger"></span>

    <button type="submit">Next</button>
    <a href="/Trips" class="button">Cancel</a>
</form>
